@using System;
@using System.Globalization;
@using FindMyChair.Web.Models.Meetings;
@using FindMyChair.Web.ViewModels.Meetings;
@model MeetingsListViewModel
@{
	ViewBag.Title = "Home Page";
}
<div class="inner-content">
	@if (null != Model)
	{
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#today">Idag</a></li>
		<li><a data-toggle="tab" href="#aa">AA</a></li>
		<li><a data-toggle="tab" href="#ca">CA</a></li>
		<li><a data-toggle="tab" href="#daa">DAA</a></li>
		<li><a data-toggle="tab" href="#na">NA</a></li>
	</ul>
	<div class="tab-content">
		<div id="today" class="tab-pane active">
			@if (null != Model.NearMeViewModel)
			{
				Html.RenderPartial("~/Views/Home/Partials/_NearMe.cshtml", Model.NearMeViewModel);
			}
		</div>
		<div id="aa" class="tab-pane">
			@if (null != Model.AAMeetingsList && Model.AAMeetingsList.Any())
			{
				Html.RenderPartial("~/Views/Shared/Partials/_ListingsFilterView.cshtml", Model.FilterSorting);
				Html.RenderPartial("~/Views/Home/Partials/_MeetingList.cshtml", Model.AAMeetingsList);
			}
		</div>
		<div id="ca" class="tab-pane">
			@if (null != Model.CAMeetingsList && Model.CAMeetingsList.Any())
			{
				Html.RenderPartial("~/Views/Home/Partials/_MeetingList.cshtml", Model.CAMeetingsList);
			}
		</div>
		<div id="daa" class="tab-pane">
			DAA
		</div>
		<div id="na" class="tab-pane">
			NA
		</div>
	</div>
	}
</div>
<script>
$(document).ready(function () {
	$('#filtersortform').submit(function () {
		$.ajax({
			type: this.method,
			url: this.action,
			data: $(this).serialize(),
			dataType: 'html',
			success: function (response) {
				$('#aa #list-content').html(response);
			},
			error: function (error) {
				console.log(error);
			}
		});
		return false;
	});
});
</script>