<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapsRESTToolkit" version="1.1.4" targetFramework="net472" />
  <package id="BruTile" version="3.1.2" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.12.2" targetFramework="net472" />
  <package id="Geocoding.net" version="3.6.1" targetFramework="net472" />
  <package id="GoogleMaps.LocationServices" version="1.2.0.5" targetFramework="net472" />
  <package id="GoogleMapsApi" version="0.80.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net472" />
  <package id="Mapsui" version="3.0.0-alpha.3" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="OsmSharp" version="6.2.0" targetFramework="net472" />
  <package id="protobuf-net" version="2.3.7" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="Xamarin.Google.iOS.Maps" version="3.9.0" targetFramework="net472" />
</packages>