<div class="meeting-filter-wrapper">
	<form method="post" action='@Url.Action("AASortFilter", "Home")' id="todayfilter">
		<div class="col-md-12 form-group row meeting-filter-heading">
			<h4>Vålj vad att visa</h4>
		</div>
		<div class='row'>
			<div class="col-md-12 form-group row meeting-filter-footer">
				<div class="row">
					<div class="col-lg-12">
						<div class="checkbox checkbox-inline">
							<label>
								<input type="checkbox" name="aa">
								<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
								AA
							</label>
						</div>
						<div class="checkbox checkbox-inline">
							<label>
								<input type="checkbox" name="ca">
								<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
								CA
							</label>
						</div>
						<div class="checkbox checkbox-inline">
							<label>
								<input type="checkbox" name="daa">
								<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
								DAA
							</label>
						</div>
						<div class="checkbox checkbox-inline">
							<label>
								<input type="checkbox" name="na">
								<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
								NA
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
